.main-cv {
    color: inherit;
    background-color: inherit;
    width: 100%;
    height: 135vh;
    margin-top: 25vh;
}

.cv-item {
    margin-bottom: 9vh;
    width: 100%;
    height: 30vh;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}