.main-footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-name {
    margin-left: 0.5vw;
    color: #6E2AAD;
}

.footer-name-dark {
    margin-left: 0.5vw;
    color: #AA73DD;
}

