.main-projects {
    color: inherit;
    background-color: inherit;
    width: 100%;
    height: 90vh;
}

.project-item {
    
    margin-bottom: 3vh;
    width: 100%;
    height: 30vh;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-button-project {
    width: 2em;
    height: 2em;
    border-radius: 30%;
    cursor: pointer;
    margin: 3vw 3vh;
}